<nav aria-label="Footer links">
  <a href="https://webpages.charlotte.edu/tlester5/itis3135/" target="_blank" rel="noopener">ITIS3135</a>
  <span class="sep" aria-hidden="true">|</span>
  <a href="https://github.com/nyceLester5/nyceLester5.github.io" target="_blank" rel="noopener">GitHub.com</a>
  <span class="sep" aria-hidden="true">|</span>
  <a href="https://webpages.charlotte.edu/tlester5/" target="_blank" rel="noopener">CLT Web</a>
  <span class="sep" aria-hidden="true">|</span>
  <a href="http://nyceLester5.github.io" target="_blank" rel="noopener">GitHub.io</a>
  <span class="sep" aria-hidden="true">|</span>
  <a href="https://www.freecodecamp.org/NyceL" target="_blank" rel="noopener">freeCodeCamp</a>
  <span class="sep" aria-hidden="true">|</span>
  <a href="https://www.codecademy.com/profiles/NyceLester" target="_blank" rel="noopener">Codecademy</a>
  <span class="sep" aria-hidden="true">|</span>
  <a href="https://www.linkedin.com/in/tranycelester" target="_blank" rel="noopener">Linkedin</a>
</nav>

<p>
  © Page built by
  <a href="https://webpages.charlotte.edu/tlester5/itis3135/lesterlabs.co/" target="_blank" rel="noopener">LesterLabs.co</a>
</p>

<div class="validators">
  <a href="https://validator.w3.org/check?uri=referer" id="validation-link-html">
    <img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML.">
  </a>
  <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
    <img src="images/button_validation_css.png" width="88" height="31" alt="Validate webpage CSS.">
  </a>
</div>


<script>
  document.getElementById("validation-link-html").setAttribute(
    "href",
    "https://validator.w3.org/check?uri=" + location.href
  );
  document.getElementById("validation-link-css").setAttribute(
    "href",
    "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href
  );
</script>
