<h1 class="site-title">Welcome to Nyce Lester’s Nova Lion ITIS 3135 Course Page</h1>

<nav aria-label="primary navigation">
  <ul>
    <li><a href="/tlester5/itis3135/index.html">Home</a></li>
    <li><a href="/tlester5/itis3135/introduction.html">Introduction</a></li>
    <li><a href="/tlester5/itis3135/contract.html">Contract</a></li>
    <li><a href="/tlester5/itis3135/hobby/index.html">Hobby</a></li>
    <li><a href="/tlester5/itis3135/novalion/about.html">Nova Lion</a></li>
    <li><a href="/tlester5/itis3135/website_evaluations.html">Website Evaluations</a></li>
    <li><a href="/tlester5/itis3135/fccfsjs_outline.html">FCC Full Stack JS Outline</a></li>
    <li><a href="/tlester5/itis3135/intro_form.html">Introduction Form</a></li>
    <li><a href="/tlester5/itis3135/project_overview.html">Project Overview</a></li>
  </ul>
</nav>

<nav aria-label="crappy navigation" class="crappy-nav">
  <ul class="crappy-list">
    <li class="crappy-item">
      <a href="/tlester5/itis3135/stuff/MY&CRAPPY.htm">Crappy Page</a>
    </li>
  </ul>
</nav>




